div {
  width: 200px;
  height: 100vh;
  background-color: darkgoldenrod;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
}
.togled {
  position: fixed;
  left: -200px;
}
button {
  position: absolute;
  top: 50px;
  right: 50px;
}
